body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgrey;
    background: #00151b;
    color: #77a9b2;
}    
    
.avatar {
    vertical-align: bottom;
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}

.social-box {
    display: flex;
    background: #77a9b2;
    color: #00151b;
    justify-content: space-evenly;
}

.info-box {
    border-radius: 0 0 10px 10px;
    font-size: larger;
    align-content: center;
}

.fa {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa:hover {
    opacity: 75%;
    transform: scale(3, 3) translate(0, -5px);
}
